# Local
.DS_Store
*.local
*.log*
*.pem

# Other lockfiles (project uses bun)
pnpm-lock.yaml
package-lock.json
yarn.lock

# Dist
node_modules
dist/
doc_build/

# IDE
.vscode/*
!.vscode/extensions.json
.idea
